<div class="row">
  <div class="col-md-3">
    <user-image img="{{data.imageUrl}}">
    </user-image>
  </div>
  <div class="col-md-6">
    <member-info [data]="data"></member-info>
  </div>
  <div *ngIf="!isArchive" class="col-md-3">
    <button class="btn btn-primary" (click)="payNow(data)">Pay Now</button>
    <button class="btn btn-primary" (click)="editMember(data)">Edit</button>
    <button class="btn btn-primary" (click)="delete(data)">Delete</button>
  </div>
  <div *ngIf="isArchive" class="col-md-3">
    <button class="btn btn-primary" (click)="rejoin(data)">Rejoin</button>
  </div>
</div>