<div class="row">
  <div class="col-md-3">
    <userimage img="{{data.imageUrl}}"></userimage>
  </div>
  <div class="col-md-6">
    <table>
      <tr>
        <th>Last Payment Date:</th>
        <td><span *ngIf="data.lastPayment">{{data.lastPayment.date | date}}</span></td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <th>Mobile</th>
        <td>{{data.mobile}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{data.address}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary" (click)="payNow(data)">Pay Now</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-primary" (click)="delete(data)">Delete</button>
  </div>
</div>