.login-page{
    background: url('/assets/images/login-background.jpg');
    background-size: cover;
    position: absolute;
    width:100%;
    height: 100%;
}
.login-container{
    position: absolute;
    width:100%;
    height:100%;
    background: #00000085;
    padding-top:10%;
    overflow: hidden
}
h1{color: white; text-transform: uppercase; text-align: center}